<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
    </title>
</head>
<body>
    <center>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color: #919171; padding: 20px 40px 20px 40px;">

                    <table cellspacing="0" cellpadding="0" style="visibility: #HIDDEN#;">
                        <tr>
                            <td style="text-align:center; font-family:Arial; font-size:12px; font-weight:bold; color:#FFF; padding-bottom: 10px; width:600px;">
                                Having trouble viewing this? <a href="www.mcvdberg.co.za/language/en/PreviewComplimentSlip.aspx?id=#ID#" target="_blank" style="color: #FFF;">Click here</a> to view it online.
                            </td>
                        </tr>
                    </table>

                    <table cellspacing="0" cellpadding="0" style="border:0 solid #E2E2E2;  background-color: #FFFFFF;">
                        <!--#00457c-->
                        <tr>
                            <td>
                                <!--<8fc635>-->
                                <table width="600" cellspacing="0" cellpadding="0" style="border:2px solid #808080;">
                                    <tr>
                                        <td style="background-color:#000; text-align:right; font-family:Arial; padding:5px 5px 5px 0; font-size:12px;" class="auto-style3">
                                            <font color="white" style="vertical-align:top;">#DATE#&nbsp;&nbsp;</font>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="line-height:10px; font-size:10px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 0 7px;">
                                            <table cellspacing="0">
                                                <tr>
                                                    <td valign="top" style="padding-right:20px; padding-bottom: 10px; font-family: Arial; font-size: 12px; width: 610px;">
                                                        <div>
                                                            #MESSSAGE#
                                                        </div>
                                                        <div style="text-align: center; font-size: 12px; color: white; width:600px; background-color: #000; padding: 5px 0px 5px 0px;">
                                                            <b>Please do not reply to this email however if you do want to reply to the sender, please make use of the email address at the bottom of this email</b>
                                                            <br /><br />
                                                            <b>With compliments herewith the following link/s:</b>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    #CONTENT#


                                    <tr>
                                        <td style="width:100%; background-color: #FFF;">
                                            <table cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="3" height="40" style="line-height: 20px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; color: #FFF; background-color: #000; width:700px; padding: 5px 0px 5px 0px;">
                                                            <b>Sent to you on behalf of #AGENCYNAME#.</b>
                                                            <br />
                                                            <b>Contact:</b> #PERSONNAME#
                                                            #PERSONPHOTO#
                                                            <br />
                                                            <b>email:</b>  <a href="mailto:#PERSONEMAIL#" style="color: white;"> #PERSONEMAIL#</a>
                                                            #CELLDIV#
                                                            #CELLDIVINSIDE#
                                                            #ENDDIV#
                                                            #OFFICEDIV#
                                                            #OFFICEDIVINSIDE#
                                                            #ENDDIV#
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15" colspan="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="200"></td>
                                                        <td width="315" height="40" style="text-align: center; font-family: Arial, sans-serif; font-size: 12px;">

                                                            #IMAGELOGO#

                                                        </td>
                                                        <td width="150"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="26" colspan="3"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>


</body>
</html>

